{% extends 'base.html.twig' %}

{% block title %}CubeDesign - Mon compte{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen">
    <div class="max-w-md w-full p-6 border border-solid border-gray-300 rounded-lg">
        <h2 class="text-3xl mb-4 text-center">Mes informations</h2>
        <div class="space-y-4">
            <div class="flex flex-col space-y-1">
                <span class="font-semibold">Prénom :</span>
                <span class="text-lg">{{ user.firstName }}</span>
            </div>
            <div class="flex flex-col space-y-1">
                <span class="font-semibold">Nom :</span>
                <span class="text-lg">{{ user.lastName }}</span>
            </div>
            <div class="flex flex-col space-y-1">
                <span class="font-semibold">Email :</span>
                <span class="text-lg">{{ user.email }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
